
@{
    ViewBag.Title = "AB :: MEHS";
    Layout = "~/Views/shared/_LayoutLog.cshtml";
}

<div class="row">
    <div class="page-header">
        <h1>Inicia sesión <small>AB:Mauro Etzael Henaro Sánchez</small></h1>
    </div>
</div>

