
<div id="Modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Titulo" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #2e2e2e;color:white;border-top-left-radius:5px;border-top-right-radius:5px;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top:-10px;color:white;">&times;</button>
                <h4 class="modal-title" id="Titulo"></h4>
            </div>
            <div class="modal-body">
                <div id="ContenidoBody" class="container-fluid">
                </div>
            </div>
            <div id="ContenidoFooter" class="modal-footer">
            </div>
        </div>
    </div>
</div> 