body {
    background-color: black;
    color: white;
}

small {
    color: lightgray;
}

.input-search {
    background-color: transparent;
    color: white;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid white;
    padding: 5px;
    width: 90%;
}

    .input-search:focus {
        outline: none !important;
        box-shadow: 0 4px 2px -2px #1DA1F2;
    }

.input-search-inverse {
    background-color: transparent;
    color: black;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid black;
    padding: 5px;
    width: 90%;
}

.input-search-inverse {
    background-color: transparent;
    color: black;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid black;
    padding: 5px;
    width: 90%;
}

    .input-search-inverse:focus {
        outline: none !important;
        box-shadow: 0 4px 2px -2px #1DA1F2;
    }